<section id="proyectos" class="portfolio">
    <div class="contenido-seccion">
        <h2>PROYECTOS</h2>
        <div class="galeria">
            <div class="proyecto" *ngFor="let proyecto of proyectos">
                <img src="{{proyecto.img}}" alt="">
                <a href="">
                    <div class="overlay">
                        <h3>{{proyecto.nombre}}</h3>
                        <p>{{proyecto.descripcion}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
