<section id="contacto" class="contacto">
  <div class="contenido-seccion">
    <h2>CONTACTO</h2>
    <div class="fila">

      <!-- Mapa -->
      <div class="col" *ngIf="validacion">
        <iframe
          [src]="linkIframe"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          allow="geolocation"
        ></iframe>
      </div>
    </div>
  </div>
</section>
