<section id="contacto" class="contacto">
  <div class="contenido-seccion">
    <h2>CONTACTO</h2>
    <div class="fila">
      <!-- Formulario -->

      <div class="col">
        <form action="">
          <input type="text" placeholder="Tú Nombre" />
          <input type="text" placeholder="Número telefónico" />
          <input type="text" placeholder="Dirección de correo" />
          <input type="text" placeholder="Tema" />
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Mensaje"
          ></textarea>
          <button class="button" type="submit">
            Enviar Mensaje <i class="fa-solid fa-paper-plane"></i>
            <span class="overlay"></span>
          </button>
        </form>
      </div>

      <!-- Mapa -->
      <div class="col">
        <button
          type="button"
          class="btn btn-primary btn-ubicacion"
          data-bs-toggle="modal"
          data-bs-target="#ubicacion"
        >
          Editar
        </button>
        <iframe
          #valorIframe
          [src]="linkIframe"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          allow="geolocation"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<!-- Modal ubicacion -->
<div
  class="modal fade"
  id="ubicacion"
  tabindex="-1"
  aria-labelledby="ubicacionLabel"
  aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ubicacionLabel">Insertar iframe:</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cerrar()"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          rows="10"
          #valorTextArea
          class="container form-control"
          placeholder="Ingrese el codigo HTML aquí..."
        ></textarea>
        <br>
        <div class="alert alert-info" role="alert">
          Si el codigo HTML no es válido, no se efectuaran los cambios.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrar()">
          Cancelar
        </button>

        <button
          type="button"
          class="btn btn-primary enviar"
          data-bs-dismiss="modal"
          (click)="guardar()"
        >
          Guardar
        </button>

      </div>
    </div>
  </div>
</div>
