<div
  class="modal fade"
  id="delete-interes"
  tabindex="-1"
  aria-labelledby="delete-interesLabel"
  aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Desea eliminar este interes?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar()">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>