<section id="proyectos" class="portfolio">
  <div class="contenido-seccion">
    <h2>PROYECTOS</h2>
    <div class="boton">
      <button
        type="button"
        class="btn btn-success btn-add"
        data-bs-toggle="modal"
        data-bs-target="#add-proyect"
      >
        Añadir proyecto +
      </button>
    </div>
    <div class="galeria">
      <div class="proyecto" *ngFor="let proyecto of proyectos">
        <button
          type="button"
          class="btn btn-primary btn-editar"
          data-bs-toggle="modal"
          data-bs-target="#edit-proyect"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger btn-eliminar"
          data-bs-toggle="modal"
          data-bs-target="#delete-proyect"
        >
          <i class="bi bi-trash3"></i>
        </button>
        <button type="button" class="btn btn-secondary nombre">
          {{ proyecto.nombre }}
        </button>
        <img src="{{ proyecto.img }}" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- Modal añadir proyeto -->
<app-add-proyecto></app-add-proyecto>

<!-- Modal editar proyecto -->
<app-edit-proyecto></app-edit-proyecto>

<!-- Modal eliminar proyecto -->
<app-delete-proyecto></app-delete-proyecto>
