<section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>Sobre Mí</h2>
        <p><span>Hola, soy Ronald Nogales, tengo 25 años y soy de Córdoba.</span> Soy desarrollador web full stack.
            Me apasiona crear soluciones digitales únicas y personalizadas a través del arte y la ciencia de la
            programación.<br>
            Mi dedicación a la programación me ha permitido adquirir habilidades para transformar conceptos
            abstractos en soluciones concretas y efectivas. Como desarrollador web full stack, soy consciente de la
            importancia de crear sitios web y aplicaciones que no solo sean funcionales, sino también seguros y
            escalables.<br>
            Creo firmemente en la importancia de aprender y crecer en mi carrera, y estoy comprometido a mantenerme
            actualizado con las últimas tecnologías y tendencias del mercado para ofrecer siempre la mejor solución
            para mis clientes y usuarios finales.<br>
            Soy consciente de que la tecnología tiene el poder de cambiar el mundo, y estoy emocionado de ser parte
            de este cambio a través de mi trabajo. Mi objetivo es seguir explorando nuevas posibilidades en el campo
            de la programación. Espero te guste este sitio web. Saludos!
        </p>

        <div class="fila">
            <!-- datos personales -->
            <div class="col">
                <h3>Datos Personales</h3>
                <ul>
                    <li>
                        <strong>Edad</strong>
                        25 años
                    </li>
                    <li>
                        <strong>Teléfono</strong>
                        3516714854
                    </li>
                    <li>
                        <strong>Email</strong>
                        ronald.fernr@gmail.com
                    </li>
                    <li>
                        <strong>Ubicación</strong>
                        Córdoba, Argentina
                    </li>
                    <li>
                        <strong>Cargo</strong>
                        <span>FREELANCE</span>
                    </li>
                </ul>
            </div>

            <!-- intereses -->
            <div class="col">
                <h3>Intereses</h3>
                <div class="contenedor-intereses">
                    <div class="interes">
                        <i class="fa-solid fa-gamepad"></i>
                        <span>JUEGOS</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-headphones"></i>
                        <span>MUSICA</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-plane"></i>
                        <span>VIAJAR</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span>DEPORTE</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-car"></i>
                        <span>AUTOS</span>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>