<div
  class="modal fade"
  id="edit-datos"
  tabindex="-1"
  aria-labelledby="edit-datosLabel"
  aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit-datosLabel">
          Edite su informacion:
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cerrar()"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          placeholder="Edad"
          class="container form-control mb-2"
          #edadPersonal
          [value]="valorPorDefecto.valorPorDefectoEdad"
        />
        <input
          type="number"
          placeholder="Numero de telefono"
          class="container form-control mb-2"
          [value]="valorPorDefecto.valorPorDefectoTelefono"
          #numeroDeTelefono
        />
        <input
          type="email"
          placeholder="Correo electronico"
          class="container form-control mb-2"
          [value]="valorPorDefecto.valorPorDefectoCorreo"
          #correoElectronicoDatoPersonal
        />
        <input
          type="text"
          placeholder="Ubicación"
          class="container form-control mb-2"
          [value]="valorPorDefecto.valorPorDefectoUbicacion"
          #ubicacionSobreMi
        />
        <input
          type="text"
          placeholder="Cargo actual"
          class="container form-control mb-2"
          [value]="valorPorDefecto.valorPorDefectoCargo"
          #cargoDatoPersonal
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrar()">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardar()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>