<section id="sobremi" class="sobremi" *ngIf="validacion">
  <div class="contenido-seccion">
    <div class="infosobremi">
      <button
        type="button"
        class="btn btn-primary btn-informacion"
        data-bs-toggle="modal"
        data-bs-target="#edit-descripcion"
      >
        Editar
      </button>
      <h2>Sobre Mí</h2>
    </div>
    <p class="mb-4">
      {{infoSobreMi}}
    </p>

    <div class="fila">
      <!-- datos personales -->
      <div class="col datos">
        <div class="infosobremi">
          <button
            type="button"
            class="btn btn-primary btn-datos"
            data-bs-toggle="modal"
            data-bs-target="#edit-datos"
          >
            Editar
          </button>
          <h3>Datos Personales</h3>
        </div>

        <ul>
          <li>
            <strong>Edad</strong>
            {{datosPersonales.edad}}
          </li>
          <li>
            <strong>Teléfono</strong>
            {{datosPersonales.telefono}}
          </li>
          <li>
            <strong>Email</strong>
            {{datosPersonales.email}}
          </li>
          <li>
            <strong>Ubicación</strong>
            {{datosPersonales.ubicacion}}
          </li>
          <li>
            <strong>Cargo actual</strong>
            <span>{{datosPersonales.cargo}}</span>
          </li>
        </ul>
      </div>

      <!-- intereses -->
      <div class="col intereses">
        <h3>Intereses</h3>

        <div class="contenedor-intereses">
          <div class="interes" *ngFor="let actividad of intereses; let i = index">
            <i
              class="bi bi-x-circle-fill"
              data-bs-toggle="modal"
              data-bs-target="#delete-interes"
              (click)="modificarIndex([i], actividad.id)"
              ></i>
            <i class="{{actividad.icono}} icono"></i>
            <span>{{actividad.interes}}</span>
          </div>

          <div
            class="btn-add interes btn-success"
            data-bs-toggle="modal"
            data-bs-target="#add-interes"
          >
            <i class="bi bi-plus-circle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal editar descripcion -->
<app-edit-descripcion (enviarValor) ="recibirValor($event)"></app-edit-descripcion>

<!-- Modal editar datos personales -->
<app-edit-datos-personales (enviarDatosPersonales) ="recibirDatosPersonales($event)"></app-edit-datos-personales>

<!-- Modal eliminar interes -->
<app-delete-interes></app-delete-interes>

<!-- Modal añadir interes -->
<app-add-interes></app-add-interes>