<div class="modal fade" id="educacion" tabindex="-1" aria-labelledby="educacionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="educacionLabel">
          Ingresar formación:
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Titulo" class="container form-control mb-2" #titulo/>
        <input type="text" placeholder="Establecimiento" class="container form-control mb-2" #establecimiento/>
        <input type="text" placeholder="Periodo" class="container form-control mb-2" #periodoEducacion/>
        <textarea class="form-control mb-2 container" placeholder="Descripcion" rows="5" #descripcionEducacion></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="guardar()">Añadir</button>
      </div>
    </div>
  </div>
</div>