<section class="skills" id="skills">
  <div class="contenido-seccion">
    <h2>Skills</h2>
    <div class="fila">
      <div class="col">
        <div class="addhabilidad">
          <h3>Habilidades tecnicas</h3>
          <div class="boton">
            <button
              type="button"
              class="btn btn-success btn-add"
              data-bs-toggle="modal"
              data-bs-target="#add-habilidad"
            >
              Añadir habilidad +
            </button>
          </div>
        </div>

        <div class="skill" *ngFor="let habilidad of habilidades; let i = index">
          <div>
            <button type="button" class="btn btn-primary btn-editar" data-bs-toggle="modal"
            data-bs-target="#edit-habilidad">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn btn-danger btn-eliminar" data-bs-toggle="modal"
            data-bs-target="#delete-habilidad">
              <i class="bi bi-trash3"></i>
            </button>
          </div>
          <span>{{ habilidad.nombre }}</span>
          <div class="barra-skill">
            <div
              class="progreso"
              [ngClass]="
                habilidadesAnimadas[i]
                  ? [habilidad.nombre.toLocaleLowerCase().split(' ').join('')]
                  : ''
              "
            >
              <span>{{ habilidad.porcentaje }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal añadir habilidad -->
<app-add-habilidad></app-add-habilidad>

<!-- Modal editar habilidad -->
<app-edit-habilidad></app-edit-habilidad>

<!-- Modal eliminar habilidad-->
<app-delete-habilidad></app-delete-habilidad>
