<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>Curriculum</h2>
        <div class="fila">
            <div class="col izquierda">
                <h3>Educación</h3>
                <div class="item izq">
                    <h4>Secundario</h4>
                    <span class="casa">Instituto Olegario Victor Andrade</span>
                    <span class="fecha">2008 - 20015</span>
                    <p>Egrese con el titulo de bachiller en administracion y economia</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Ingenieria</h4>
                    <span class="casa">Universidad Nacional de Córdoba</span>
                    <span class="fecha">2017 - 2029</span>
                    <p>Curse 3 años Ingeniera en Computacion</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Ingenieria</h4>
                    <span class="casa">Universidad Nacional de Córdoba</span>
                    <span class="fecha">2020 - Actualidad</span>
                    <p>Actualmente cursando Ingenieria Civil</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
            </div>

            <div class="col derecha">
                <h3>Experiencia</h3>
                <div class="item der">
                    <h4>Front Developer</h4>
                    <div class="icono-empresa">
                        <img src="../../../../assets/freecodecamp.png" alt="">
                    </div>
                    <span class="casa">FreeCodeCamp</span>
                    <span class="fecha">1 mes</span>
                    <p>Desarrolle los proyectos propuestos en la pagina y asi obtuve el titulo de Responsive Web
                        Desing</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>