<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills</h2>
        <div class="fila">
            <!-- Technical Skill -->
            <div class="col">
                <h3>Technical Skills</h3>
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso" [ngClass]="{'javascript': habilidadesAnimadas[0]}">
                            <span>50%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso" [ngClass]="{'htmlcss': habilidadesAnimadas[1]}">
                            <span>70%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Angular</span>
                    <div class="barra-skill">
                        <div class="progreso" [ngClass]="{'angular': habilidadesAnimadas[2]}">
                            <span>40%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Java</span>
                    <div class="barra-skill">
                        <div class="progreso" [ngClass]="{'java': habilidadesAnimadas[3]}">
                            <span>40%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Spring Boot</span>
                    <div class="barra-skill">
                        <div class="progreso" [ngClass]="{'springboot': habilidadesAnimadas[4]}">
                            <span>30%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>MySql</span>
                    <div class="barra-skill">
                        <div class="progreso" [ngClass]="{'mysql': habilidadesAnimadas[5]}">
                            <span>50%</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
