<div
  class="modal fade"
  id="edit-habilidad"
  tabindex="-1"
  aria-labelledby="edit-habilidadLabel"
  aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false"
  *ngIf="validacion"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit-habilidadLabel">
          Edite su habilidad:
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cerrar()"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          placeholder="Nombre de la habilidad"
          class="container form-control mb-3"
          [value]="habilidad.nombre"
          #nombreHabilidadEdit
        />

        <div class="mb-3">
          <label for="rangeEdit" class="form-label"
            >Rango de dominacion</label
          >
          <div class="d-flex">
            <input
              type="range"
              class="form-range barra"
              min="0"
              max="100"
              value="0"
              (input)="cambiosEnElInput($event)"
              #rangoEdit
            />
            <p class="contadorBarra">{{valorDeRango}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrar()">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>