<footer *ngIf="validador">
  <div class="redes">
    <abbr class="cursor" title="Facebook">
      <a href="{{ links.facebook }}" target="”_blank”">
        <i class="fa-brands fa-facebook-f iconos"></i>
      </a>
    </abbr>
    <abbr class="cursor" title="Instagram">
      <a href="{{ links.instagram }}" target="”_blank”">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </abbr>
    <abbr class="cursor" title="Linkedin">
      <a href="{{ links.linkedin }}" target="”_blank”">
        <i class="fa-brands fa-linkedin-in iconos"></i>
      </a>
    </abbr>
    <abbr class="cursor" title="Correo electronico">
      <a href="{{ links.correoElectronico }}" target="”_blank”">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </abbr>
  </div>
</footer>
