<div
  class="modal fade"
  id="perfil"
  tabindex="-1"
  aria-labelledby="perfilLabel"
  aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="perfilLabel">
          Seleccione una foto de perfil:
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cerrar()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="formFileSm" class="form-label"
            >Seleccione una imagen:</label
          >
          <input
            class="form-control form-control-sm"
            id="formFileSm"
            type="file"
            (change)="imagenObtenida($event)"
            #perfilUpload
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrar()">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>