<div
  class="modal fade"
  id="edit-descripcion"
  tabindex="-1"
  aria-labelledby="edit-descripcionLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit-descripcionLabel">
          Edite su descripcion:
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          class="form-control mb-2 container"
          placeholder="Descripcion"
          id="exampleFormControlTextarea1"
          rows="9"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>