<div
  class="modal fade"
  id="add-interes"
  tabindex="-1"
  aria-labelledby="add-interesLabel"
  aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add-interesLabel">
          Ingresar un nuevo interes:
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          placeholder="Nombre"
          class="container form-control mb-2"
          #nombreInteres
        />
        <h2 class="modal-title fs-5">Seleccione un icono:</h2>
          <div class="container mt-2">
            <div class="row justify-content-evenly">
              <div *ngFor="let icono of iconos; let i = index" class="icono">
                <div class="cuadrado fondo{{i}}" (click)="cambiarColor([i])" id="cuadrado{{i}}">
                  <i class="{{icono}}"></i>
                </div>

              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="cerrar()"
          >
            Cerrar
          </button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="guardar()">
            Añadir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>