<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills</h2>
        <div class="fila">
            <!-- Technical Skill -->
            <div class="col">
                <h3>Technical Skills</h3>

                <div class="skill" *ngFor="let habilidad of habilidades; let i = index">
                    <span>{{habilidad.nombre}}</span>
                    <div class="barra-skill">
                        <div class="progreso" [ngClass]="habilidadesAnimadas[i] ? [habilidad.nombre.toLocaleLowerCase().split(' ').join('')] : ''">
                            <span>{{habilidad.porcentaje}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>